nav {
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 1rem;
    gap: 0rem;
}

.top-nav {
    background-color: blue;
    color: chocolate;
    font-size: 90px;
    padding: 40px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
}

.top-nav:hover {
    background-color: chartreuse;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
body {
    background-color: #d45959;
    color: black;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.0);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color:rgba(0,0,0,0.8)
}